# ============================================
# GITIGNORE FILE FOR EVERYTHING IN THE PROJECT
# ============================================

# ======================
# C programming language
# ======================
# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# =====================
# Vim editor
# =====================
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# =================
# Linux OS
# =================
*~

# KDE directory preferences
.directory

# =========================================
# Project files/directories and Test cases
# =========================================
*.f
build/
README.FIRST
fort320_la.c
lex.yy.c
fort320_sa.c
tok.h
fort320_sa.tab.c
fort320_sa.tab.h
fort320_sa.output
fort320
